body {
    margin: 0;
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;

    div#app {
        position: absolute;
        top:0;left:0;right:0;bottom:0;
        overflow-x: hidden;
        width: 100%;
        height: 100%;
    }

    #panel-main {
        transition-property: left, right;
        header {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            width: 100%;
            height: $topbar-height;
            background: $topbar-background;
            color: $topbar-color;
            font-size: $topbar-font-size;
            line-height: $topbar-height;
            z-index: 100;
            border-bottom: $topbar-border;
            box-shadow: $topbar-shadow;

            svg {
                fill: $topbar-color;
                height: $topbar-icon-height;
                width: auto;
                vertical-align: middle;
                margin-top: -4px;
            }

            button {
                color: $topbar-color;
                &:active {
                    color: $topbar-color;
                }
            }

            .title-left {
                position: absolute;
                left: 0;
                top: 0;
                min-width: 50px;
                padding-left: 10px;
            }

            .title-center {
                width: 100%;
                text-align: center;
            }

            .title-right {
                position: absolute;
                right: 0;
                top: 0;
                min-width: 50px;
                text-align: right;
                padding-right: 10px;
            }
        }

        #page {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            .wap-page {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                overflow-x: hidden;
                overflow-y: $page_overflow_y; /* has to be scroll, not auto */
                -webkit-overflow-scrolling: touch;
                > ul.list {
                    @include nolist;
                    li {
                        padding: 4px;
                        div.panel {
                            padding: 6px;
                            margin: 4px;
                        }
                    }
                }

                &.page-scroll {
                    overflow-y: auto;
                }

                &.page-padded {
                    left: 15px;
                    right: 15px;
                    top: 15px;
                    bottom: 15px;
                }

                &.has-topbar {
                    top: $topbar-height;
                }

                &.has-footer {
                    padding-bottom: $topbar-height;
                }
            }
        }
        footer {
            position: absolute;
            bottom: 0;
            left:0;
            right:0;
        }

    }
}

body.panel-animate {
    div#panel-left,
    div#panel-main {
        -webkit-transition-duration: 400ms;
        transition-duration: 400ms;
    }
}

body.bottom-bar-reveal {
    div#panel-main {
        bottom: 100px;
    }
}


body.panel-left-reveal {
    div#panel-main {
        // -moz-transform: translate3d($panel-left-width,0,0);
        // -webkit-transform: translate3d($panel-left-width,0,0);
        // transform: translate3d($panel-left-width,0,0);
        left: $panel-left-width;
    }
}

body.panel-left-reveal.slide {
    div#panel-main {
        // -moz-transform: translate3d($panel-left-width,0,0);
        // -webkit-transform: translate3d($panel-left-width,0,0);
        // transform: translate3d($panel-left-width,0,0);
        right: -$panel-left-width;
    }
}

body.panel-left-reveal-partial {

    div#panel-left {
        width: $panel-left-partial-width;
    }
    div#panel-main {
        // -moz-transform: translate3d($panel-left-partial-width,0,0);
        // -webkit-transform: translate3d($panel-left-partial-width,0,0);
        // transform: translate3d($panel-left-partial-width,0,0);
        left: $panel-left-partial-width;
        right: -$panel-left-partial-width;
        div#panel-left div#nav ul.nav-items ul.nav-submenu li {
            padding-left: 2px;
        }
    }
}


body.panel-right-reveal {
    // div#panel-main {
    //  -moz-transform: translate3d($panel-left-width,0,0);
    //  -webkit-transform: translate3d($panel-left-width,0,0);
    //  transform: translate3d($panel-left-width,0,0);
    // }
    div#panel-main {
        // -moz-transform: translate3d($panel-left-partial-width,0,0);
        // -webkit-transform: translate3d($panel-left-partial-width,0,0);
        // transform: translate3d($panel-left-partial-width,0,0);
        right: $panel-right-width;
    }
}

div#panel-left {
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    width: $panel-left-width;
    background: $panel-left-background;
    color: $panel-left-color;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;  /* IE 10+ */

    // transform: translateX(-120%);
    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;

    div#nav {
        ul.nav-items {
            @include nolist;
            > li {
                button[data-action], button[data-showpage] {
                    cursor: pointer;
                    font-size: 2rem;
                    color: $panel-left-action-color;
                    margin: 10px;
                    padding: 10px;
                    &.active {
                        color: $panel-left-active-color;
                    }

                    &.selected {
                        color: $panel-left-active-color;
                    }
                }

                &.nav-break {
                    height: 2px;
                    margin: 10px 4px;
                    border-top: 1px solid gray;
                }

                &.nav-name {
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                    color: gray;
                }

                > ul {
                    @include nolist;
                }
            }

            ul.nav-submenu {
                > li {

                    &:hover {
                        color: $panel-left-hover-color;
                        background: $panel-left-hover;
                    }

                    &.active {
                        color: $panel-left-nogroup-active-color;
                    }
                }
            }
        }
    }

    a, a:active {
        color: $panel-left-color;
        &:hover {
            color: $brand-success;
        }
    }

    z-index: 500;

    div.header {
        position: relative;
        div.overlay {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
            bottom: 10px;
            text-shadow: 0 0 3px rgba(0,0,0,0.7);
        }
    }

    div.footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    div.logo {
        max-width: $panel-left-width;
        padding: 4px;
        color: $panel-left-logo-color;
        background: $panel-left-logo-bg;
        overflow: hidden;
        height: $panel-left-logo-height;
        border-bottom: 1px solid #828282;
        margin-bottom: 20px;
        img {
            max-width: 50%;
        }

        h4 {
            margin: 3px 5px 0;
        }

        h1 {
            font-size: 34px;
            margin: 0 5px;
            font-weight: lighter;
        }
    }

    div.debug {
        span.ws-state {
            color: $red;
            &.active {
                color: $green;
            }
        }
    }

    div.avatar-box {
        position: relative;
        width: 100px;
        margin: 6px auto;
        i.logged-in-with {
            position: absolute;
            right: 10px;
            bottom: 0;
            text-shadow: 0 1px 2px rgba(0,0,0,0.5);
            font-size: 32px;
        }
    }

    div.user-box {
        div.email {
            font-size: 11px;
            color: $gray-light;
        }
    }

    ul.menu {
        @include nolist;
        margin: 14px 0;
        > li {
            padding: 10px;
            &.clickable {
                cursor: pointer;
            }

            i {
                display: inline-block;
                width: 30px;
                text-align: center;
            }
        }

        &.menu-lg {
            font-size: 16px;
            font-weight: lighter;
            i {
                font-size: 18px;
            }
        }
    }
}


div#panel-main {
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    top:0px;
    //height: 100%;
    z-index: 600;
    color: $panel-center-color;
    background: $panel-center-background;
    box-shadow: $panel-left-shadow;
    -webkit-transition-duration: 0ms;
    transition-duration: 0ms;
}

div#panel-right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: $panel-right-width;

    z-index: 500;
}

.topnav-brand .mobile-menu-icon {
    display: none;
    height: 60px;
    padding: 0;
    margin-top: 15px;

    &:hover,
    &:active,
    &:focus {
        cursor: pointer;
        opacity: .5;
    }
}

@media (max-width: 1220px) {
    body.mobile {
        section.page {
            &.page-toc-mode {
                div#page {
                    div.page-toc {
                        display: none;
                    }

                    div.toc-toggle {
                        left: -10px;
                    }

                    div.page-view {
                        // overflow: hidden;
                        left: 0;
                    }
                }
            }
        }
    }
}


body.use-mobile-menu {
    .topnav-brand{
        .brand-img {
            display: none;
        }
        .brand-title {
            position: absolute;
            opacity: 0.2;
            left: 50px;
        }
        .mobile-menu-icon {
            display: inline-block;
        }
    }
    &.panel-left-reveal:not(.panel-left-reveal-mobile-menu) {
        div#panel-main {
            left: 0;
        }
    }

    &.panel-left-reveal-mobile-menu {
        div#panel-main{
            left: $panel-left-width;
            right: -$panel-left-width;
        }
    }
}


@media
(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /* Retina-specific stuff here */
    div#panel-left.no-group div#nav ul.nav-items > li {
        font-weight: 200;
    }
}


.print-only {
    display: none;
}

@media print {
    @page {
        margin: 0mm;
    }
    .print-only {
        display: block !important;
    }
    .no-print, .no-print *
    {
        display: none !important;
    }
    html{
        max-height: 297.01 mm;
        max-width: 209.97 mm;
    }
    div#panel-left {
        display: none;
    }
    div.page-view-body{
        padding-top: 10px !important;
    }
    body.panel-left-reveal {
        div#panel-main {
            left: 0px !important;
        }
        #page {
            top:0px !important;
        }
    }
    .et-page {
        overflow: visible !important;
    }
    .page-view-header {
        display: none !important;
    }
    div.page-view-body {
        overflow: auto!important;
    }
    .et-wrapper, #panel-main, #app, html, #panel-main, body, #page, div.page-view, section.page, div.page-view-body, div.page-toc{
        position: unset !important;
        float : none !important ;
        overflow:none !important;
    }
    html, #panel-main{
        height: 100%;
    }
    .et-wrapper {
        height: auto !important;
    }
    div#admin-bar {
        display: none;
    }
    nav.topnav {
        display: none;
    }
}


.color-white {
    color: $white !important;
    a, button {
        color: $white !important;
    }
}

.color-black {
    color: $black !important;
    a, button {
        color: $black !important;
    }
}

.color-yellow {
    color: $yellow !important;
    a, button {
        color: $yellow !important;
    }
}

.color-blue {
    color: $blue !important;
    a, button {
        color: $blue !important;
    }
}

.color-orange {
    color: $orange !important;
    a, button {
        color: $orange !important;
    }
}

.color-red {
    color: $red !important;
    a, button {
        color: $red !important;
    }
}

.color-green {
    color: $green !important;
    a, button {
        color: $green !important;
    }
}

.color-gray {
    color: $gray-light !important;
}

.bg-blue {
    background: $blue !important;
}

.bg-orange {
    background: $orange !important;
}

.bg-red {
    background: $red !important;
}

.bg-gray {
    background: $gray !important;
}

.bg-black {
    background: $black !important;
}

.bg-white {
    background: $white !important;
}

.border-blue {
    border: 2px solid $blue !important;
}

.border-orange {
    border: 2px solid $orange !important;
}
