@mixin switch($res: 'sm') {
    $index: 1rem;
    $mainVal: 1rem;

    @if $res == 'md' {
        $index: 2rem;
        $mainVal: 1.5rem;
    } @else if $res == 'lg' {
        $index: 3rem;
        $mainVal: 2rem;
    } @else if $res == 'xl' {
        $index: 4rem;
        $mainVal: 2.5rem;
    }

    .form-check-input {
        height: $mainVal;
        width: calc(#{$index} + 0.75rem);
        border-radius: $mainVal * 2;
        padding-bottom: $index / 2; /* JUST FOR STYLING PURPOSE */

    }

    label.form-check-label {
        height: cal(#{$mainVal} + 30%);
        margin-left: 1rem;
        font-size: calc(#{$mainVal} - 30%);
        padding-bottom: $index / 2; /* JUST FOR STYLING PURPOSE */
    }
}

div.modal {
    background: rgba(0,0,0,0.6);
    div.modal-message {
        font-size: 1.7rem;
    }
    button.btn-lg {
        font-size: 1.85rem;
        color: #6200EE;
        svg {
            height: 1.7rem;
            vertical-align: middle;
            margin-top: -4px;
        }
    }

    div.modal-content {
        box-shadow: 1px 7px 10px 2px rgb(0 0 0 / 10%), 0px 12px 16px 12px rgb(0 0 0 / 10%)
    }
    div.modal-header {
        border: none;
        .modal-title {
            padding: 20px 20px 0 20px;
            font-size: 2rem;
        }
    }
    div.modal-message {
        color: gray;
        padding: 0 20px;
    }

    div.modal-footer {
        border: none;
        padding: 20px;
        button {
            text-transform: uppercase;
        }
    }
}

.form-check-input {
  clear: left;
}

// YOU CAN PUT ALL RESOLUTION HERE
// sm - DEFAULT, md, lg, xl

.form-switch.form-switch-sm {
    @include switch();
}

.form-switch.form-switch-md {
    @include switch('md');
}

.form-switch.form-switch-lg {
    @include switch('lg');
}

.form-switch.form-switch-xl {
    @include switch('xl');
}
