// uses sass command to compile to app.css
// 	sass --no-source-map app.scss app.css
// 	or in develpment for realtime changes
// 	sass --no-source-map app.scss app.css --watch

$orange: #fd9608;
$red: #AF3B3D;
$blue: #3374C7;
$black: #1a1a1a;
$white: white;
$yellow: #FFF776;
$green: #4E8474;
$green-dark: #386758;

$gray-darker: lighten(#000, 13.5%);
$gray-dark: lighten(#000, 20%);
$gray: lighten(#000, 60.5%);
$gray-light: lighten(#000, 80%);
$gray-lighter: lighten(#000, 90%);
$gray-lightest: lighten(#000, 97.25%);

$page-background: transparent;

$panel-background: #fff;
$panel-color: #000;
$panel-header-bg: $blue;
$panel-header-color: #fff;

$primary: $blue;
$brand-primary: $primary;
$brand-success: $green;
$brand-info: $blue;
$brand-warning: $orange;
$brand-danger: $red;
$brand-default: $gray-light;
$brand-other: $gray-dark;

$panel-left-width: 450px;
$panel-left-font-size: 2rem;
$panel-left-background: #424242;
$panel-left-color: white;
$panel-left-action-color: #66CCFF;
$panel-left-active-color: #66CCFF;
$panel-left-active-bg: white;
$panel-left-nogroup-background: white;
$panel-left-nogroup-color: black;
$panel-left-nogroup-active-color: white;
$panel-left-hover: blue;
$panel-left-shadow: -6px 0 6px rgba(0,0,0,0.7);
$panel-left-hover-color: blue;
$panel-left-partial-width: $panel-left-width;

$panel-left-logo-color: #fff;
$panel-left-logo-bg: transparent;
$panel-left-logo-height: 50px;

$panel-right-width: 10px;
$panel-right-background: $panel-left-background;
$panel-right-color: $panel-left-color;

$panel-center-background: white;
$panel-center-color: #333333;

$topbar-height: 100px;
$topbar-background: #AE0922;
$topbar-border: 1px solid rgba(0,0,0,0.3);
$topbar-color: #ffffff;
$topbar-font-size: 36px;
$topbar-icon-height: 54px;
$topbar-shadow: 0 0 10px rgb(0 0 0 / 90%);

$page_overflow_y: scroll;

@import "scss/";

div.label-field {
	font-size: 20px;
	&::before {
		color: gray;
		content: attr(data-label) " ";
		display: block;
	}
}

.h1, h1 {
    font-size: calc(2rem + 1.5vw);
}

.btn-link {
	text-decoration: none;
	&:focus, &:active {
		outline: 0;
		box-shadow: none;
	}
}

div#panel-left {
	ul.services {
		> li {
			font-size: 1.4rem;
		}

	}
}

div.news-summary {
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

div.news-list {
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	bottom: 25px;
	overflow-y: auto;
	scroll-behavior: smooth;
}

div.news-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	background: black;
	color: white;
	padding: 20px;
	font-size: 40px;
}

#page_home {
	div.button-bezel {
		width: 240px;
		height: 240px;
		border: 25px solid #CCCCCC;
		margin: 15px auto;
		border-radius: 50%;
		button {
			margin: 0 !important;
		}
	}
}

