header#title-bar {

	.navbar { 
		padding: 0;
	}

	.navbar-brand {
		padding: 0;
	}

	.avatar img {
	    border-radius: inherit;
	    width: 2.0rem
	}

	.avatar {
	    align-items: center;
	    border-radius: 0.375rem;
	    display: inline-flex;
	    font-size: 1rem;
	    font-weight: 600;
	    height: 2.875rem;
	    justify-content: center;
	    position: relative;
	    vertical-align: middle;
	    width: 2.875rem;
	    background: white;

	    p {
	    	margin: 0;
	    	padding: 5px;
	    }
	}

	.avatar-sm {
	    border-radius: 0.25rem;
	    font-size: .75rem;
	    height: 2.25rem;
	    width: 2.25rem;
	}

	.avatar-initials {
		padding: 5px;
	}
}