<nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{app.options.title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topnav" aria-controls="topnav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topnav">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
<!--        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown04">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
      </ul>
      <div class="dropdown">
         <a class="d-flex align-items-center text-decoration-none" href="#" data-bs-auto-close="true" role="button" data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
            <div>
               <div class="avatar avatar-sm rounded-circle">
                {{#app.me.avatar}}
                  <img src="{{app.me.avatar}}">
                  {{/app.me.avatar}}
                  {{^app.me.avatar}}
                  <img src="imgs/logo.png">
                  {{/app.me.avatar}}
               </div>
            </div>
            <div class="d-sm-block ms-3 text-white"><span class="h6">{{app.me.first_name}}</span></div>
            <div class="d-md-block ms-md-2 text-white"><i class="bi bi-chevron-down text-muted text-xs"></i></div>
         </a>
         <div class="dropdown-menu dropdown-menu-end">
            <div class="dropdown-header"><span class="d-block text-sm text-muted mb-1">Signed in as</span> <span class="d-block text-heading font-semibold">{{app.me.full_name}}</span></div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-action="edit_profile"><i class="bi bi-pencil me-3"></i>Edit profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-action="settings"><i class="bi bi-gear me-3"></i>Settings </a><a class="dropdown-item" href="#"><i class="bi bi-image me-3"></i>Media </a><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-up me-3"></i>Share</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-action="logout"><i class="bi bi-person me-3"></i>Logout</a>
         </div>
      </div>
    </div>
  </div>
</nav>