
.hljs-number{color:#a5c261;}.hljs-emphasis{font-style:italic;}.hljs-selector-id{color:#8b98ab;}.hljs-attribute{color:#cda869;}.hljs-builtin-name{color:#0962bd;}.hljs-section{color:#ffc66d;}.hljs-template-variable{color:#a5c261;}.hljs-quote{color:#bc9458;font-style:italic;}.hljs-params{color:#d0d0ff;}.hljs-deletion{width:100%;background-color:#600;color:#e6e1dc;display:inline-block;}.hljs-link{color:#6d9cbe;text-decoration:underline;}.hljs-addition{color:#e6e1dc;background-color:#144212;display:inline-block;width:100%;}.hljs-symbol{color:#6d9cbe;}.hljs-attr{color:#6d9cbe;}.hljs-variable{color:#a5c261;}.hljs-regexp{color:#a5c261;}.hljs-bullet{color:#6d9cbe;}.hljs-type{color:#da4939;}.hljs-selector-class{color:#9b703f;}.hljs-keyword{color:#c26230;}.hljs-string{color:#a5c261;}.hljs-tag{color:#dd6ae8;}.hljs-comment{color:#bc9458;font-style:italic;}.hljs-meta{color:#9b859d;}.hljs-selector-tag{color:#c26230;}.hljs{overflow-x:auto;display:block;padding:0.5em;color:#655176;}.hljs-title{color:#ffc66d;}.hljs-name{color:#0962bd;}.hljs-strong{font-weight:bold;}.hljs-built_in{color:#6d9cbe;}.hljs-subst{color:#519f50;}

// div.swam-paginated-table-bs .table > :not(:first-child) {
//     border-top: none;
// }

// table.swam-table {
// 	th {
// 		background-color: #E8E8E8;
// 	}
// 	th:first-child{
// 	  border-radius:5px 0 0 5px;
// 	}

// 	th:last-child{
// 	  border-radius:0 5px 5px 0;
// 	}
// }
