<div class="sidebar-container d-flex flex-column flex-shrink-0 p-3">
    <div class="text-left text-dark ms-3">
      
      {{{ICON(tools)}}} <span class="ms-2 fs-4">ADMIN</span>
    </div>
    <hr>
    <div class="overflow-scroll mb-auto">
          <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <label>System Accounts</label>
      </li>
      <li>
        <a href="{{app.root}}admin/users" class="nav-link" data-showpage="users">
          <i class="bi bi-person-fill"></i>
          Users
        </a>
      </li>
      <li>
        <a href="{{app.root}}admin/groups" class="nav-link" data-showpage="groups">
          <i class="bi bi-people-fill"></i>
          Groups
        </a>
      </li>
      <li>
        <a href="{{app.root}}admin/auditlogs" class="nav-link" data-showpage="audit_logs">
          <i class="bi bi-journal-text"></i>
          Audit Logs
        </a>
      </li>
      <li>
        <label>Access Control System</label>
      </li>
      <li>
        <a href="{{app.root}}admin/lock/controlers" class="nav-link" data-showpage="lock_controllers">
          <i class="bi bi-file-lock-fill"></i>
          Lock Controllers
        </a>
      </li>
      <li>
        <a href="{{app.root}}admin/locks" class="nav-link" data-showpage="admin_locks">
          <i class="bi bi-lock-fill"></i>
          Locks
        </a>
      </li>
      <li>
        <a href="{{app.root}}admin/locks/access" class="nav-link" data-showpage="admin_lock_access">
          <i class="bi bi-people-fill"></i>
          Lock Access
        </a>
      </li>
      <li>
        <label>HELP</label>
      </li>
    </ul>
    </div>

    <hr>
    <button class="btn btn-primary mb-2" data-action="merchant_menu">{{{ICON(arrow-left)}}} EXIT ADMIN</button>
    <div class="version" data-action="about" style="cursor: pointer;">
    	<div>App Version {{app.version}}</div>
    	<div>Server Version {{app.api_version}}</div>
    </div>
  </div>