
<div class="row mt-2">
	<div class="col-12">
		<span class="h6 d-block font-bold mt-2">Name</span>
		<span class="h6 d-block text-muted">{{model.member.display_name|ifemptyornull("not set")}}</span>
	</div>
	<div class="col-12">
		<span class="h6 d-block font-bold mt-2">Email</span>
		<span class="h6 d-block text-muted">{{model.member.email}}</span>
	</div>
	<div class="col-12">
		<span class="h6 d-block font-bold mt-2">Phone Number</span>
		<span class="h6 d-block text-muted">{{model.member.phone_number}}</span>
	</div>
	<div class="col-12">
		<span class="h6 d-block font-bold mt-2">Role</span>
		<span class="h6 d-block text-muted">{{model.role}}</span>
	</div>
	<div class="col-12">
		<span class="h6 d-block font-bold mt-2">Last Activity</span>
		<p class="h6 d-block text-muted text-break">{{model.member.last_activity|ago|ifempty('never')}}</p>
	</div>
	<div class="col-12">
		<span class="h6 d-block font-bold mt-2">Invited</span>
		<span class="h6 d-block text-muted">{{model.created|datetime}}</span>
	</div>
</div>




