$brand-primary-color: #FCC431;
$brand-primary-bg: #212222;

$topbar-height: 50px;
$topbar-background: #2E2B2E;
$topbar-border: 1px solid rgba(0,0,0,0.3);
$topbar-box-shadow: none;
$topbar-color: #ffffff;
$topbar-font-size: 18px;

$panel-left-font-size: 16px;
$panel-left-sub-font-size: 12px;
$panel-left-width: 250px;
$panel-left-partial-width: 50px;
$panel-left-background: #212529;
$panel-left-color: black;
$panel-left-active-color: #6cf;
$panel-left-active-bg: white;
$panel-left-active-sub-color: #6cf;
$panel-left-active-sub-bg: transparent;

$page-background: #dddddd;