div#panel-left {
	.text-color-brand {
		color: $brand-primary;
	}
	div.main {
		display: flex;
		flex-wrap: nowrap;
		height: 100vh;
		height: -webkit-fill-available;
		max-height: 100vh;
		overflow-x: auto;
		overflow-y: hidden;

		div.sidebar-container {
			width: 100%;
		}

		div.version {
			font-size: 0.8rem;
			text-align: center;
			color: #858585;
		}

		ul.nav.nav-pills li a {
			i {
				padding-right: 0.4rem;
				font-size: 1.1rem;
			}
			&:hover {
				background: #cccccc;
				color: #0d6efd;
			}
		}

		&.bg-dark {
			background-color: $panel-left-background !important;

			ul.nav.nav-pills li {
				a, button {
					color: $panel-left-color;
				}

				a {
					&:hover {
						background: $panel-left-hover-bg;
						color: $panel-left-hover-color;
					}

					&.active {
						background-color: $panel-left-active-bg;
						color: $panel-left-active-color;
						font-weight: bold;
					}
				}
			} 
		}
	}
}

#app_body.panel-left-reveal {
	div#panel-left {
		z-index: 400;
		box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)!important;
	}
}



div.sidebar-container {
    .nav-link-toggle {
        position: relative;
        &::after {
          font-family: bootstrap-icons !important;
          position: absolute;
          right: 0.125rem;
          top: 1.25rem;
          width: 1.25em;
          line-height: 0;
          content: "\F284";
          transition: transform .35s ease;
          transform-origin: .5em 50%;
        }

        &[aria-expanded="true"] {
          color: rgba(0, 0, 0, .85);
        }
        &[aria-expanded="true"]::after {
          transform: rotate(-90deg);
        }
    }
}

div.sidebar-collapse {
    .nav-link {
        padding-left: 1.8rem;
        font-size: 0.9rem;
    }
}

