<div class="sidebar-container d-flex flex-column flex-shrink-0 p-3 bg-light">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">ACM Portal</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a href="{{app.root}}dashboard" class="nav-link link-dark" data-showpage="dashboard">
          <i class="bi bi-speedometer2"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a href="{{app.root}}members" class="nav-link link-dark" data-showpage="members">
          <i class="bi bi-people-fill"></i>
          Members
        </a>
      </li>
      <li>
        <a href="{{app.root}}locks" class="nav-link link-dark" data-showpage="locks">
          <i class="bi bi-key"></i>
          Locks
        </a>
      </li>
      <li>
        <a href="{{app.root}}reports" class="nav-link link-dark" data-showpage="reports">
          <i class="bi bi-journal-richtext"></i>
          Reports
        </a>
      </li>
    </ul>
    <hr>
    <div class="version">
    	<div>Portal Version {{app.version}}</div>
    	<div>Server Version {{app.api_version}}</div>
    </div>
  </div>